<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDidxS2EjE9fo1NcKGWc7-k9vRhs2JQhzs</string>
	<key>GCM_SENDER_ID</key>
	<string>225821485277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.amanG.Threads-Clone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-70a49</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-70a49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225821485277:ios:cb22fd0fa2e1aa0eb89334</string>
</dict>
</plist>